---
layout: default
---

<div>

  {{ content }}

  <h2>Últimos posts</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date:"%-d" }} de 
        {% case m %}
          {% when '1' %}enero
          {% when '2' %}febrero
          {% when '3' %}marzo
          {% when '4' %}abril
          {% when '5' %}mayo
          {% when '6' %}junio
          {% when '7' %}julio
          {% when '8' %}agosto
          {% when '9' %}septiembre
          {% when '10' %}octubre
          {% when '11' %}noviembre
          {% when '12' %}diciembre
        {% endcase %}
        {{ post.date | date: "%Y" }}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <div>
          <!--{{ post.excerpt | markdownify | truncatewords: 30 }}-->
          {{ post.excerpt }}
        </div>
      </li>
    {% endfor %}
  </ul>

</div>