---
layout: page
title: Novedades
tagline: Novedades de la web
ref: novedades
order: 1
---

<div>
  <h3>Orden cronológico | <a href="{{site.baseurl}}/novedades/categorias/">Orden por categorías</a> </h3>
  <h2>Novedades</h2>
  <p>Novedades por orden cronológico.</p>

  <div>&nbsp;</div>

  <!-- post list -->
  <ul class="post-list">
    {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.cayman-blog.date_format | default: "%-d de %b, %Y" -%}
        {% include translated_date.html date=post.date format=date_format lang="es"%}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <div>
          <!--{{ post.excerpt | markdownify | truncatewords: 30 }}-->
          {{ post.excerpt }}
        </div>
      </li>
    {%- endfor -%}
  </ul>

  <!-- pagination -->
  {% if paginator .total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/'}}">&laquo; Ant</a>
      {% else %}
        <span>&laquo; Ant</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="pagina">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="/">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">Sig &raquo;</a>
    {% else %}
      <span>Sig &raquo; </span>
    {% endif %}
    </div>
  {% endif%}

</div>